* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: 'Courier New', Courier, monospace;
  font-size: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0em auto;
  background: rgb(33, 33, 33);
}

.one,
.two,
.three,
.four,
.five {
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  padding: 1rem;
  border-bottom-left-radius: 50%;
  margin: 4px;
}

.one {
  background-color: palevioletred;
}
.one:after {
  content: 'one';
}

.two {
  background-color: burlywood;
}
.two:after {
  content: 'two';
}

.three {
  background-color: lightseagreen;
}
.three:after {
  content: 'three';
}

.four {
  background-color: dodgerblue;
}
.four:after {
  content: 'four';
}

.five {
  background-color: lemonchiffon;
}
.five:after {
  content: 'five';
}
